.btn-primary {
    background-color: #D7AB11;
    border-color: #D7AB11;
}

.btn-primary:hover {
    background-color: #f7c305;
    border-color: unset;
}

footer.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}